HTML
{
  font-family:		arial, helvetica, clean, sans-serif;
  font-size:		16px;
  color:		#666666;
  background-color: 	white;
  background-image:	url(images/vr-09_angle_2_gal.jpg);
  background-repeat: 	no-repeat;
  background-attachment: fixed;
  background-size:	contain;
}

HTML, BODY
{
  margin:		0px;
  padding:		0;
  border: 		none;
}

BODY
{
  margin:		20px;
}
	
DIV#wrapper
{
  width: 		900px;
  margin: 		auto;
  padding:		30px;
  background:		rgba(255,255,255,0.96);
  border:		1px dotted #ccc;
}

H1
{
  background-color:	#eee;
  margin:		0;
  padding:		12px;
  color:		orange;
  background-color:	#222;
  opacity:		0.80;
}

SELECT, INPUT
{
  font-size: 0.95em;
  padding-top:   3px;
}